.App {
  text-align: center;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h5 {
    font-size: 32px;
    padding: 0;
    margin: 0;
    color: #FFF;
  }
  p {
    font-size: 24px;
    color: #FFF;
  }
  img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    border: #FFF 1px solid;
    margin-top: 25px;
  }
}
.FirstRing {
  height: 72px;
  width: 72px;
  position: absolute;
  left: 27%;
  top: 15%;
  color: gold;
  transform: rotate(315deg);
}
.SecondRing {
  height: 72px;
  width: 72px;
  position: absolute;
  right: 27%;
  bottom: 7%;
  color: gold;
  transform: rotate(145deg);
}
button {
  height: 48px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}
.CountdownClock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
  width: 100%;
}
.CountdownTimeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 15.253px;
  border: 1.907px solid #FFF;
  background: transparent;
  gap: 12px;
}
.CountdownTimeDetails h6 {
  color: #FFF;
  font-family: 'Digital Numbers', sans-serif;                                
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.384px; /* 93.333% */
  padding: 0;
  margin: 0;
}
.CountdownTimeDetails span {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.383px; /* 107.692% */
}
